<% if project.can_request_recertification? %>
  <div class="mt-3">
    <%= button_to project_recertification_path(project),
        class: "som-button-primary px-4 py-2 text-sm",
        onclick: "if(confirm('Request re-certification? Make sure you\\'ve fixed the issues mentioned in the feedback.')){ document.getElementById(#{('recertification-instructions-' + project.id.to_s).to_json}).value = document.getElementById(#{('recertification-instructions-visible-' + project.id.to_s).to_json}).value; document.getElementById(#{('recertification-instructions-form-' + project.id.to_s).to_json}).submit(); } return false;" do %>
      Request Re-certification
    <% end %>
  </div>
<% end %>
